.env
*.html
error_log
view/error_log
view/PHPMailer-5.2-stable
view/vendor
vendor
model/db_connect.php
assets
backupDB
database
forms
images
public/ajax
public/bootstrap-3.4.1
public/bootstrap-4.6.0
public/css
public/fontawesome
public/images